In [1]:
## Importação dos pacotes
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import random

In [2]:
## Leitura da base de dados housing (pública)
housing_dataset = pd.read_csv('housing.csv')
housing_dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
# Aplicação em uma amostra de 100 linhas
variaveis = ['housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households']
inputNumbers =range(0,len(housing_dataset['longitude'])+1)
indices = random.sample(inputNumbers, 100)
data = housing_dataset[housing_dataset.index.isin(indices)][variaveis].copy()

In [4]:
## Aplicação do modelo de clusterização
kmeans = KMeans(n_clusters=5, random_state=0, n_init='auto').fit(data)

In [5]:
## Geração da base com a variável gerada
data['cluster'] = kmeans.labels_
data = data.sort_values(by='cluster')
data

,housing_median_age,total_rooms,total_bedrooms,population,households,cluster
5,52.0,919.0,213.0,413.0,193.0,0
6149,26.0,1399.0,277.0,1285.0,276.0,0
6280,35.0,1341.0,233.0,898.0,216.0,0
7146,45.0,1307.0,283.0,967.0,254.0,0
7383,39.0,1346.0,380.0,1520.0,356.0,0
...,...,...,...,...,...,...
5165,39.0,1701.0,428.0,1468.0,411.0,4
11426,17.0,1997.0,340.0,952.0,341.0,4
11820,18.0,1931.0,380.0,1271.0,377.0,4
14037,25.0,1908.0,513.0,956.0,467.0,4
9931,20.0,1789.0,434.0,1113.0,398.0,4

In [6]:
centroides = kmeans.cluster_centers_
centroides = pd.DataFrame(centroides, columns = variaveis)
centroides = centroides.reset_index()
centroides = centroides.rename(columns = {'index': 'cluster'})
centroides

,cluster,housing_median_age,total_rooms,total_bedrooms,population,households
0,0,33.357143,1173.642857,247.785714,780.071429,237.607143
1,1,15.454545,6158.272727,1176.545455,3015.181818,1095.454545
2,2,29.437500,3545.187500,616.000000,1646.437500,581.625000
3,3,31.444444,2222.666667,612.666667,2336.888889,559.555556
4,4,33.222222,2179.138889,451.277778,1080.583333,411.750000

In [7]:
# Aplicação em uma amostra de 100 linhas
variaveis = ['housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_house_value']
inputNumbers =range(0,len(housing_dataset['longitude'])+1)
indices = random.sample(inputNumbers, 100)
data = housing_dataset[housing_dataset.index.isin(indices)][variaveis].copy()
data

,housing_median_age,total_rooms,total_bedrooms,population,households,median_house_value
0,41.0,880.0,129.0,322.0,126.0,452600.0
47,43.0,1007.0,312.0,558.0,253.0,137500.0
49,40.0,946.0,375.0,700.0,352.0,112500.0
457,42.0,1756.0,465.0,2184.0,422.0,371400.0
558,52.0,1049.0,185.0,374.0,176.0,248500.0
...,...,...,...,...,...,...
19728,32.0,1650.0,313.0,802.0,284.0,98200.0
19761,24.0,1631.0,340.0,1042.0,333.0,59000.0
19768,27.0,852.0,176.0,464.0,148.0,58200.0
20469,23.0,4550.0,762.0,2301.0,744.0,205300.0
20475,24.0,2234.0,373.0,1325.0,383.0,193400.0

In [8]:
## Calcular a variável dependente classe de preço: baixo, médio e alto
media = data['median_house_value'].mean()
print(media)
erro = data['median_house_value'].std() + np.sqrt(len(data['median_house_value']))
print(erro)
data['classe'] = data['median_house_value'].apply(
    lambda x : 'abaixo' if x < (media - erro) else (
    'acima' if x > (media + erro) else 'media'
)
)
data

209288.9292929293
121033.37413218484

,housing_median_age,total_rooms,total_bedrooms,population,households,median_house_value,classe
0,41.0,880.0,129.0,322.0,126.0,452600.0,acima
47,43.0,1007.0,312.0,558.0,253.0,137500.0,media
49,40.0,946.0,375.0,700.0,352.0,112500.0,media
457,42.0,1756.0,465.0,2184.0,422.0,371400.0,acima
558,52.0,1049.0,185.0,374.0,176.0,248500.0,media
...,...,...,...,...,...,...,...
19728,32.0,1650.0,313.0,802.0,284.0,98200.0,media
19761,24.0,1631.0,340.0,1042.0,333.0,59000.0,abaixo
19768,27.0,852.0,176.0,464.0,148.0,58200.0,abaixo
20469,23.0,4550.0,762.0,2301.0,744.0,205300.0,media
20475,24.0,2234.0,373.0,1325.0,383.0,193400.0,media

In [9]:
data.groupby('classe').mean()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_house_value
classe,,,,,,
abaixo,28.333333,1943.266667,392.800000,969.466667,366.533333,68306.666667
acima,29.722222,3091.944444,588.444444,1314.888889,530.222222,412250.222222
media,31.818182,2435.075758,537.590909,1451.757576,500.515152,185977.272727

In [10]:
data.groupby('classe')['population'].count()

classe
abaixo    15
acima     18
media     66
Name: population, dtype: int64

In [11]:
## Aplicação do modelo de regressão logística com a variável dependente classe

from sklearn.linear_model import LogisticRegression
variaveis = ['housing_median_age', 'total_rooms', 'total_bedrooms', 'population',
'households', 'classe']
data = data[variaveis].copy().reset_index()
X_Train = data.drop(columns=['classe'], axis=1)
X_Test = data.drop(columns=['classe'], axis=1)
y_Train = data['classe']
y_Test = data['classe']
sc_x = StandardScaler()
X_Train = sc_x.fit_transform(X_Train)
X_Test = sc_x.fit_transform(X_Test)
logreg = LogisticRegression(solver="lbfgs", max_iter=500)
logreg.fit(X_Train, y_Train)

LogisticRegression(max_iter=500)

In [12]:
# Aplicação do modelo na base de predição
pred_logreg = logreg.predict(X_Test)
pred_logreg

array(['media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'acima', 'media', 'media', 'acima', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'media', 'acima', 'media', 'media', 'media',
       'media', 'media', 'abaixo', 'media', 'acima', 'abaixo', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'acima', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media', 'media', 'media', 'media', 'media', 'media', 'media',
       'media'], dtype=object)

In [13]:
# Aplicação na base de predição com a geração das probabilidades de cada classe
pred_proba = logreg.predict_proba(X_Test)
pred_proba

array([[0.22817101, 0.26555169, 0.5062773 ],
       [0.16832823, 0.19075096, 0.64092081],
       [0.16088884, 0.1324776 , 0.70663355],
       [0.02738735, 0.03351802, 0.93909463],
       [0.15536281, 0.29725664, 0.54738055],
       [0.06718311, 0.26697993, 0.66583696],
       [0.17137804, 0.32438596, 0.50423601],
       [0.11625959, 0.28191801, 0.6018224 ],
       [0.32922207, 0.1910127 , 0.47976523],
       [0.16852429, 0.21264021, 0.6188355 ],
       [0.26788989, 0.25230071, 0.47980941],
       [0.1669944 , 0.24291524, 0.59009036],
       [0.12990348, 0.14329059, 0.72680593],
       [0.28949928, 0.15594687, 0.55455386],
       [0.14755684, 0.22344917, 0.62899399],
       [0.20268336, 0.22688859, 0.57042805],
       [0.17421692, 0.42438781, 0.40139527],
       [0.18446977, 0.21897577, 0.59655446],
       [0.18988148, 0.25614009, 0.55397844],
       [0.08025279, 0.51506415, 0.40468306],
       [0.14413008, 0.14369689, 0.71217303],
       [0.1874635 , 0.28126752, 0.53126898],
       [0.18708462, 0.11571995, 0.69719543],
       [0.07609492, 0.18286277, 0.7410423 ],
       [0.07416568, 0.09245179, 0.83338253],
       [0.09656124, 0.14467587, 0.75876289],
       [0.14097953, 0.09985863, 0.75916184],
       [0.013163  , 0.01797835, 0.96885866],
       [0.10131658, 0.07572605, 0.82295736],
       [0.07231195, 0.20255291, 0.72513514],
       [0.00614452, 0.01032672, 0.98352876],
       [0.12222032, 0.16889234, 0.70888734],
       [0.08975507, 0.12015326, 0.79009167],
       [0.14302454, 0.13950675, 0.71746871],
       [0.1745437 , 0.17397818, 0.65147812],
       [0.23635198, 0.10126881, 0.66237921],
       [0.15574449, 0.18128658, 0.66296893],
       [0.15745623, 0.21445964, 0.62808413],
       [0.07228019, 0.16128927, 0.76643054],
       [0.07640759, 0.06225166, 0.86134076],
       [0.04548731, 0.04593785, 0.90857484],
       [0.08397022, 0.08929416, 0.82673562],
       [0.10257524, 0.07721408, 0.82021067],
       [0.11432548, 0.17556529, 0.71010923],
       [0.15846324, 0.09171022, 0.74982654],
       [0.05514192, 0.04699902, 0.89785907],
       [0.21543605, 0.22368173, 0.56088222],
       [0.23512496, 0.28591647, 0.47895857],
       [0.22452101, 0.1626833 , 0.61279569],
       [0.2016832 , 0.20086538, 0.59745142],
       [0.10941902, 0.37538493, 0.51519605],
       [0.27426265, 0.10130645, 0.6244309 ],
       [0.34116932, 0.22849727, 0.4303334 ],
       [0.2093751 , 0.19947268, 0.59115221],
       [0.15046422, 0.30552635, 0.54400943],
       [0.07108469, 0.0668607 , 0.86205461],
       [0.22002096, 0.29743656, 0.48254248],
       [0.2085223 , 0.31995193, 0.47152577],
       [0.15080151, 0.23033492, 0.61886357],
       [0.02143859, 0.66019748, 0.31836392],
       [0.24732706, 0.30616685, 0.44650609],
       [0.23965194, 0.19163838, 0.56870968],
       [0.08508781, 0.23128875, 0.68362345],
       [0.07819539, 0.21073453, 0.71107008],
       [0.18554379, 0.18026029, 0.63419592],
       [0.4595836 , 0.10154961, 0.43886678],
       [0.09669676, 0.25932664, 0.6439766 ],
       [0.26646943, 0.44795142, 0.28557916],
       [0.49005537, 0.10590679, 0.40403783],
       [0.13564106, 0.20073461, 0.66362433],
       [0.1161003 , 0.08592896, 0.79797073],
       [0.0434932 , 0.08288481, 0.87362199],
       [0.08789777, 0.15424753, 0.7578547 ],
       [0.02809179, 0.17822859, 0.79367962],
       [0.13174114, 0.08953492, 0.77872393],
       [0.19142002, 0.28437108, 0.52420889],
       [0.02125379, 0.01237521, 0.966371  ],
       [0.18800517, 0.12518142, 0.68681341],
       [0.0429252 , 0.60640564, 0.35066916],
       [0.09983826, 0.2943971 , 0.60576464],
       [0.02337315, 0.10083016, 0.87579669],
       [0.15705632, 0.04655835, 0.79638533],
       [0.27238267, 0.14733914, 0.58027819],
       [0.01806762, 0.05695966, 0.92497272],
       [0.01899785, 0.06018107, 0.92082108],
       [0.05042814, 0.04982879, 0.89974307],
       [0.05715858, 0.03593241, 0.90690901],
       [0.09515106, 0.1007749 , 0.80407404],
       [0.2499803 , 0.15903418, 0.59098552],
       [0.09704871, 0.12640673, 0.77654456],
       [0.1037362 , 0.17261759, 0.72364621],
       [0.2146382 , 0.12337751, 0.66198429],
       [0.14405623, 0.14227859, 0.71366517],
       [0.36676106, 0.13015509, 0.50308386],
       [0.20269169, 0.15061594, 0.64669237],
       [0.20339917, 0.09725206, 0.69934877],
       [0.29377619, 0.11752689, 0.58869691],
       [0.0801277 , 0.18463027, 0.73524204],
       [0.16996479, 0.11706377, 0.71297144]])

In [14]:
## Geração da base com a variável gerada
data["previsao"] = pred_logreg
data

,index,housing_median_age,total_rooms,total_bedrooms,population,households,classe,previsao
0,0,41.0,880.0,129.0,322.0,126.0,acima,media
1,47,43.0,1007.0,312.0,558.0,253.0,media,media
2,49,40.0,946.0,375.0,700.0,352.0,media,media
3,457,42.0,1756.0,465.0,2184.0,422.0,acima,media
4,558,52.0,1049.0,185.0,374.0,176.0,media,media
...,...,...,...,...,...,...,...,...
94,19728,32.0,1650.0,313.0,802.0,284.0,media,media
95,19761,24.0,1631.0,340.0,1042.0,333.0,abaixo,media
96,19768,27.0,852.0,176.0,464.0,148.0,abaixo,media
97,20469,23.0,4550.0,762.0,2301.0,744.0,media,media
98,20475,24.0,2234.0,373.0,1325.0,383.0,media,media

In [15]:
## Geração da base com as variáveis de probabilidades de cada classe
lista_proba = pred_proba.tolist()
lista_proba = pd.DataFrame(
    lista_proba,
    columns = ['abaixo', 'acima', 'media']
)
data = pd.merge(data, lista_proba, left_index=True, right_index=True)
data

,index,housing_median_age,total_rooms,total_bedrooms,population,households,classe,previsao,abaixo,acima,media
0,0,41.0,880.0,129.0,322.0,126.0,acima,media,0.228171,0.265552,0.506277
1,47,43.0,1007.0,312.0,558.0,253.0,media,media,0.168328,0.190751,0.640921
2,49,40.0,946.0,375.0,700.0,352.0,media,media,0.160889,0.132478,0.706634
3,457,42.0,1756.0,465.0,2184.0,422.0,acima,media,0.027387,0.033518,0.939095
4,558,52.0,1049.0,185.0,374.0,176.0,media,media,0.155363,0.297257,0.547381
...,...,...,...,...,...,...,...,...,...,...,...
94,19728,32.0,1650.0,313.0,802.0,284.0,media,media,0.202692,0.150616,0.646692
95,19761,24.0,1631.0,340.0,1042.0,333.0,abaixo,media,0.203399,0.097252,0.699349
96,19768,27.0,852.0,176.0,464.0,148.0,abaixo,media,0.293776,0.117527,0.588697
97,20469,23.0,4550.0,762.0,2301.0,744.0,media,media,0.080128,0.184630,0.735242
98,20475,24.0,2234.0,373.0,1325.0,383.0,media,media,0.169965,0.117064,0.712971